@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

h2 {
  font-family: "Poppins", sans-serif;
}

p,
button,
h3,
span {
  font-family: "Open Sans", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2.8rem 2.4rem;
  width: 100vw;
  align-items: center;
}

main p {
  color: #00252e;
  text-align: center;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.1rem; /* 150% */
  width: 32rem;
  margin-top: 1.6rem;
}

#header-logo {
  width: 9.6rem;
  height: 1.6rem;
}
#header-btn {
  border-radius: 1.1rem;
  border: 0.588px solid #ff52c1;
  background: #fff;
  box-shadow: 0px 0px 5px 0px rgba(255, 82, 193, 0.22);
  padding: 0.5rem 1.7rem;

  /* text */
  color: #ff52c1;
  font-size: 0.9rempx;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#community-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  text-align: center;
  margin-top: 11.6rem;
}

#community-section h2 {
  width: 28rem;
  color: #00252e;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.6rem; /* 150% */
}

#community-section p {
  width: 29.6rem;
  margin-top: 2.4rem;
}

.start-btn {
  background-color: #ff52c1;
  box-shadow: 0px 3px 7px rgba(0, 37, 46, 0.22);
  border: none;
  margin-top: 4.8rem;
  border-radius: 2rem;
  padding: 1.1rem 3.9rem;

  /* text */
  color: #fff;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.8rem; /* 150% */
}

#screen-img {
  width: 29.6rem;
  margin-top: 15.5rem;
}

#diagram {
  display: flex;
  flex-direction: column;
  gap: 9rem;
  align-items: center;
  justify-content: center;
  margin-top: 12rem;
}

.diagram-flex-grp {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.diagram-flex-grp h3 {
  color: #00252e;
  font-style: normal;
  font-weight: 700;
  line-height: 91.429px; /* 150% */
}
#first {
  font-size: 6rem;
}
#scnd {
  font-size: 5.3rem;
}

.diagram-flex-grp span {
  color: #808e9a;
  /* text-align: center; */
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem; /* 150% */
}

.diagram-icon {
  position: absolute;
  top: -2.5rem;
  left: 0;
}

#msg-img {
  width: 27.317px;
}

#community-img {
  width: 35.556px;
}

#grow {
  align-items: center;
  margin-top: 21.6rem;
  background-repeat: no-repeat;
  background-size: contain;
}

.img-paragraph-flex-grp {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.curve-box {
  background-color: #f6fbff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}
.curve-detail {
  width: 100vw;
}
.top-detail {
  margin-bottom: -2px;
}

#grow .main-img {
  width: 25.8rem;
}
