@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

h2 {
  font-family: "Poppins", sans-serif;
}

p,
button,
h3,
span {
  font-family: "Open Sans", sans-serif;
}

button {
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2.8rem 2.4rem;
  width: 100vw;
  align-items: center;
}

main p {
  color: #00252e;
  text-align: center;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.1rem; /* 150% */
  width: 32rem;
  margin-top: 1.6rem;
}

#header-logo {
  width: 9.6rem;
  height: 1.6rem;
}
#header-btn {
  border-radius: 1.1rem;
  border: 0.588px solid #ff52c1;
  background: #fff;
  box-shadow: 0px 0px 5px 0px rgba(255, 82, 193, 0.22);
  padding: 0.5rem 1.7rem;

  /* text */
  color: #ff52c1;
  font-size: 0.9rempx;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#header-btn:hover {
  border: 1px solid #ff8ed7;
  background: #fff;
  box-shadow: 0px 0px 9px 0px rgba(255, 82, 193, 0.22);
}

#community-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  text-align: center;
  margin-top: 11.6rem;
}

.main-h2 {
  width: 28rem;
  color: #00252e;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.6rem; /* 150% */
}

#community-section p {
  width: 29.6rem;
  margin-top: 2.4rem;
}

.start-btn {
  background-color: #ff52c1;
  box-shadow: 0px 3px 7px rgba(0, 37, 46, 0.22);
  border: none;
  margin-top: 4.8rem;
  border-radius: 2rem;
  padding: 1.1rem 3.9rem;

  /* text */
  color: #fff;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.8rem; /* 150% */
}

#screen-img {
  width: 29.6rem;
  margin-top: 15.5rem;
}

#diagram {
  display: flex;
  flex-direction: column;
  gap: 9rem;
  align-items: center;
  justify-content: center;
  margin-top: 12rem;
}

.diagram-flex-grp {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.diagram-flex-grp h3 {
  color: #00252e;
  font-style: normal;
  font-weight: 700;
  line-height: 91.429px; /* 150% */
}
#first {
  font-size: 6rem;
}
#scnd {
  font-size: 5.3rem;
}

.diagram-flex-grp span {
  color: #808e9a;
  /* text-align: center; */
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem; /* 150% */
}

.diagram-icon {
  position: absolute;
  top: -2.5rem;
  left: 0;
}

#msg-img {
  width: 27.317px;
}

#community-img {
  width: 35.556px;
}

#grow {
  align-items: center;
  /* margin-top: 21.6rem; */
  background-repeat: no-repeat;
  background-size: contain;
}

.img-paragraph-flex-grp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desktop-detail {
  display: none;
}

.curve-box {
  background-color: #f6fbff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}
.curve-detail {
  width: 100vw;
}
.top-detail {
  margin-bottom: -5px;
}

#grow .main-img {
  width: 25.8rem;
}

.img-paragraph-pairs h2 {
  color: #00252e;
  text-align: center;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3rem; /* 150% */
  margin-top: 7.4rem;
}

#flowing-img {
  width: 26.5rem;
}

#flowing-section {
  margin-top: 11.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#flowing-img {
  width: 26.5rem;
}

#users-section {
  margin-top: 12rem;
}

#users-img {
  width: 26.7rem;
}

#cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 4rem;
  margin-top: 7rem;
}

#cta .start-btn {
  margin-top: 0;
}
.start-btn:hover {
  background-color: #ff8ed7;
  filter: drop-shadow(0px 6px 13px rgba(0, 37, 46, 0.22));
}

.footer-curve-box {
  background-color: #00252e;
  padding: 4.6rem 2.7rem;
}
.footer-logo {
  fill: rgba(255, 255, 255, 1);
}

.newsletter-flex-grp {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-top: 3.2rem;
}
input {
  width: 320px;
  height: 48px;
  border-radius: 6px;
  background: #fff;
  border: none;
  align-self: flex-end;
}
#subscribe {
  align-self: flex-end;
  border-radius: 5px;
  background: #ff52c1;
  padding: 1.2rem 4.2rem;
  border: none;

  /* text */

  color: #fff;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}
#subscribe:hover {
  background: #ff8ed7;
}

footer {
  margin-top: 25.1rem;
}
.footer-paragraph h4 {
  color: #fff;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3rem; /* 150% */
  font-family: "Open Sans", sans-serif;
}

.footer-paragraph p {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 2.4rem; /* 171.429% */
  width: 32rem;
  margin-top: 1.6rem;
}

#huddle {
  margin-top: 10.4rem;
}

.icon-flex-grp {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.icon-container {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.icon-flex-grp span {
  color: #fff;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}

#icons {
  margin-top: 4.8rem;
  display: flex;
  gap: 1.7rem;
}
.icon {
  fill: white;
  cursor: pointer;
}
.icon:hover {
  fill: #00c7fa;
}

@media (min-width: 1440px) {
  header {
    padding: 7.9rem 6.3rem 0 8rem;
  }
  #header-logo {
    width: 24rem;
    height: 3.8rem;
  }
  #header-btn {
    padding: 0.9rem 3rem;
    border-radius: 2rem;
    border: 0.588px solid #ff52c1;
    box-shadow: 0px 0px 9px 0px rgba(255, 82, 193, 0.22);
    font-size: 1.6rem;
  }
  #community-section {
    margin-top: 22.6rem;
  }
  .main-h2 {
    font-size: 4.8rem;
    width: auto;
    line-height: 7.2rem;
  }
  #community-section p {
    font-size: 2rem;
    width: 60rem;
    margin-top: 2.6rem;
    line-height: 3rem;
  }
  .start-btn {
    padding: 2.5rem 10rem;
    filter: drop-shadow(0px 6px 13px rgba(0, 37, 46, 0.22));
    border-radius: 4rem;
    font-size: 2rem;
    line-height: 3rem;
  }
  #screen-img {
    width: 106.6rem;
  }
  #diagram {
    flex-direction: row;
    gap: 34.1rem;
  }
  #diagram h3 {
    font-size: 9.6rem;
    line-height: 14.4rem;
  }
  #diagram span {
    font-size: 2.4rem;
    line-height: 3.6rem;
  }
  #community-img {
    width: 56px;
    top: -3.5rem;
  }
  #msg-img {
    width: 4.9rem;
    top: -3.5rem;
  }
  .mobile-detail {
    display: none;
  }
  .desktop-detail {
    display: block;
  }
  #grow {
    margin-top: 13.3rem;
  }
  .curve-box {
    flex-direction: row;
    justify-content: space-between;
    padding: 5rem 15.1rem 5rem 13rem;
  }
  #grow .main-img {
    width: 51.7rem;
  }
  .img-paragraph-flex-grp {
    align-items: flex-start;
    order: -1;
  }
  .img-paragraph-flex-grp p {
    text-align: start;
    width: 52rem;
    line-height: 2.4rem;
    font-size: 1.6rem;
  }
  img.paragraph-flex-grp h2 {
    font-size: 4rem;
    line-height: 6rem;
  }

  #flowing-section {
    margin-top: 19.4rem;
    flex-direction: row;
    padding: 0 12rem 0 13.5rem;
    gap: 13.4rem;
    justify-content: center;
  }
  #flowing-section img {
    order: -1;
    width: 53.1rem;
  }
  .img-paragraph-pairs h2 {
    font-size: 4rem;
    line-height: 6rem;
  }
  .img-paragraph-pairs p {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  #users-section {
    margin-top: 11.1rem;
  }
  #users-img {
    width: 53.4rem;
  }
  #cta {
    gap: 4.2rem;
  }
  #cta h2 {
    font-size: 4rem;
  }
  .footer {
    margin-top: 17.8rem;
  }
  .footer-curve-box {
    width: 100vw;
    padding: 12rem 12rem 10.3rem;
  }

  .newsletter-flex-grp {
    flex-direction: row;
  }
  .footer-main-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #huddle {
    order: -1;
  }
  footer h4 {
    font-size: 2.4rem;
    line-height: 3.6rem;
  }
  #huddle {
    margin-top: 0;
  }
  #icons {
    gap: 2.4rem;
  }
  .icon {
    width: 3.2rem;
  }
}
